<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSoap" />
                <binding name="GerenciaVendaWSPortBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://189.50.141.77:1004/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSSoap" contract="ZoOmBoxFilial.WSSoap"
                name="WSSoap" />
            <endpoint address="http://189.50.141.77:1004/ws.asmx" binding="customBinding"
                bindingConfiguration="WSSoap12" contract="ZoOmBoxFilial.WSSoap"
                name="WSSoap12" />
            <endpoint address="http://201.49.82.8:8181/IntegradorGS-WS/GerenciaVendaWS"
                binding="basicHttpBinding" bindingConfiguration="GerenciaVendaWSPortBinding"
                contract="GerenciaVendaWS.GerenciaVendaWS" name="GerenciaVendaWSPort" />
        </client>
    </system.serviceModel>
</configuration>