<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <!-- Parâmetros no ERP Winthor-->
    <add key="Debugando" value="N" />
    <add key="ValidarClienteJuridico" value="S" />
    <add key="Administrador" value="S" />
    <add key="ManutencaoBancoDados" value="S" />
    <add key="ModeloIntegracao" value="13" />
    <add key="NumeroTentativaImportarPedido" value="5" />
    <add key="QuantidadeRegistroEnviar" value="50" />
    <add key="IntervaloSegundos" value="60" />
    <add key="CodFilialVenda" value="1" />
    <add key="CodFilialRetira" value="1" />
    <add key="CodPlanoPagamento" value="4" />
    <add key="CodCobrancaMovimentoCaixa" value="COBS" />
    <add key="CodPraca" value="1" />
    <add key="CodRCA" value="1" />
    <add key="CodDepartamento" value="1" />
    <add key="CodSecao" value="1" />
    <add key="CodFornecedor" value="1" />
    <add key="CodBanco" value="1" />
    <add key="CodCobranca" value="D" />
    <add key="CodSupervisor" value="1" />
    <add key="Matricula" value="1" />
    <add key="CodRamoAtividade" value="1" />
    <add key="ContaGerencialReceitaDeCredito" value="0" />
    <add key="ContaGerencialEntrada" value="0" />
    <add key="CodMotivoBloqueioAguardaPagto" value="0" />
    <add key="CodMotivoBloqueioPagtoAprovado" value="0" />
    <add key="ContaContabilCliente" value="8001" />
    <!-- Configuração do e-mail-->
    <add key="EmailErroFinanceiro" value="" />
    <add key="EmailErro" value="" />
    <add key="EmailEnvio" value="" />
    <add key="EmailSenha" value="" />
    <add key="EmailSMTP" value="" />
    <!-- Integração SIGEP - Correios -->
    <add key="Sigep_UrlTeste" value="https://apphom.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl" />
    <add key="Sigep_UrlProducao" value="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl" />
    <add key="Sigep_Usuario" value="friovix" />
    <add key="Sigep_Senha" value="3vrfbh" />
    <add key="Sigep_Codigoadministrativo" value="11288051" />
    <add key="Sigep_Contrato" value="9912284746" />
    <add key="Sigep_CodigoServico" value="40096" />
    <add key="Sigep_Cartao" value="70604347" />
    <!-- FTP para o Protheus -->
    <add key="FTPEndereco" value="ftp://ftpdtc.totvs.com.br/pacalub_winthor_hom/" />
    <add key="FTPUsuario" value="pacalub_winthor_hom@datacenter.local" />
    <add key="FTPSenha" value="pacalub@2016!" />
    <add key="FTPPassivo" value="" />
    <add key="FTPDadosBinario" value="" />
    <!-- Conexão com o Winthor-->
    <add key="Winthor_Conexao" value="Data Source=LOCAL; User ID=LOCAL; Password=LOCAL" />
    <add key="Winthor_ArquivoINI" value="" />
    <!-- C:\WinThor\Prod\Winthor.ini -->
    <add key="Winthor_Servidor" value="" />
    <!-- ATUAL -->
    <add key="Winthor_Usuario" value="" />
    <!-- LOCAL -->
    <!-- Integração IShopping -->
    <add key="IShopping_URL" value="https://temtudodigital.wc2.securestore.global/ws/v1/" />
    <add key="IShopping_Cliente" value="53250" />
    <add key="IShopping_ChaveAcesso" value="3c04affbe20a359cdd9b0e359cdfe3083596dcea9c53dcffb6" />
    <!-- Integração ERP Protheus -->
    <add key="Protheus_Filial" value="01" />
    <!-- Integração ERP UseAll -->
    <add key="UseAll_Webservice" value="http://189.22.39.23/e2comercialwsteste/ws.asmx" />
    <add key="UseAll_Conexao" value="Data Source=LOCAL; User ID=ATUAL; Password=ATUAL" />
    <!-- Integração E-Commerce VTex -->
    <add key="VTex_Empresa" value="climario" />
    <add key="VTex_UrlAPI" value="http://{0}.vtexcommercestable.com.br/api" />
    <add key="VTex_Username" value="integracao" />
    <add key="VTex_Password" value="climario" />
    <add key="VTex_NumeroPedidos" value="150" />
    <!--
    <add key="VTex_Empresa" value="climario" />
    <add key="VTex_AppKey" value="vtexappkey-climario-AMYZMO" />
    <add key="VTex_AppToken" value="MRCYGMVSZNRYRJTRYFCQJXSOEFWHSEMMHYSSKQGPHUVTBSCZTWWJRKWPZOTAQNAVBEQTRBGIYMJPBYNLDWNVICVWBDTWWFZTUASWCJISQNLEBHNABHXTZEMYIURNIJLT" />
    <add key="VTex_Empresa" value="friopecas" />
    <add key="VTex_AppKey" value="vtexappkey-friopecas-MWFCYV" />
    <add key="VTex_AppToken" value="RYXTXXLKNURFHUIBHRGKDMCIGATIAPCOZICNQSPQVFTGSSEFPWEBEITEWOMXECKYSCFZSVKPBPPYTWPOVNTDKAKRPXQCFSMSVUOPMFMTLPZOTULAYYCRJGNRSOJVEIJJ" />
    <add key="VTex_Empresa" value="friopecas2" />
    <add key="VTex_AppKey" value="vtexappkey-friopecas2-NPFFJJ" />
    <add key="VTex_AppToken" value="FZOBVICDWFQKHIUGHKALYMKHPWUBDSATEMNLFIUUYASKCIOWIUEYDYITOGLZNBADEWFVUJBYQFNYUAFHHXSJOCQGDUWYWVGWAOFFDTCYTFIXKKYOBERQIRPCGYRANDBU" />
    -->
    <add key="VTex_Empresa" value="friopecas" />
    <add key="VTex_AppKey" value="vtexappkey-friopecas-MWFCYV" />
    <add key="VTex_AppToken" value="RYXTXXLKNURFHUIBHRGKDMCIGATIAPCOZICNQSPQVFTGSSEFPWEBEITEWOMXECKYSCFZSVKPBPPYTWPOVNTDKAKRPXQCFSMSVUOPMFMTLPZOTULAYYCRJGNRSOJVEIJJ" />
    <!--Integração E-Commerce VTiger -->
    <add key="VTiger_Login" value="ws" />
    <add key="VTiger_Token" value="19QsblCRbZddW5xP" />
    <add key="VTiger_URL" value="http://crm.friopecas.com.br:8383/" />
    <!-- Integração ERP DataHub -->
    <add key="DataHub_UrlAPI" value="https://192.168.0.77:8443/InfoWS/" />
    <add key="DataHub_Username" value="infows" />
    <add key="DataHub_Password" value="Od6PGv06KcdbV6aTK4551q3pJ9Z97Y83" />
    <add key="DataHub_Alimentos" value="M2W80k1auZ4fZ8aOF9kASC7cMg2Ee2n7" />
    <add key="DataHub_Supermercados" value="5U233s540Sc2wmBcT48WxYLgZ4wJ921l" />
    <!-- Integração E-Commerce FBits-->
    <add key="FBits_Empresa" value="decisaoentrega8" />
    <add key="FBits_Token" value="DATACADISTA-EBE1-4FBF-2015-EB8FDD842703" />
    <add key="FBits_SyncPedidoVenda" value="http://integracao.{0}.com.br/modelo007/SyncPedidoVenda.asmx" />
    <add key="FBits_SyncCategoria" value="http://integracao.{0}.com.br/modelo007/SyncCategoria.asmx" />
    <add key="FBits_SyncEstoque" value="http://integracao.{0}.com.br/modelo007/SyncEstoque.asmx" />
    <add key="FBits_SyncPedidoStatus" value="http://integracao.{0}.com.br/modelo007/SyncPedidoStatus.asmx" />
    <add key="FBits_SyncProduto" value="http://integracao.{0}.com.br/modelo007/SyncProduto.asmx" />
    <add key="FBits_SyncProdutoCategoria" value="http://integracao.{0}.com.br/modelo007/SyncProdutoCategoria.asmx" />
    <add key="FBits_SyncProdutoCombo" value="http://integracao.{0}.com.br/modelo007/SyncProdutoCombo.asmx" />
    <add key="FBits_SyncProdutoEstoque" value="http://integracao.{0}.com.br/modelo007/SyncProdutoEstoque.asmx" />
    <add key="FBits_SyncProdutoFornecedor" value="http://integracao.{0}.com.br/modelo007/SyncProdutoFornecedor.asmx" />
    <add key="FBits_SyncProdutoImagem" value="http://integracao.{0}.com.br/modelo007/SyncProdutoImagem.asmx" />
    <add key="FBits_SyncProdutoPreco" value="http://integracao.{0}.com.br/modelo007/SyncProdutoPreco.asmx" />
    <add key="FBits_SyncUsuario" value="http://integracao.{0}.com.br/modelo007/SyncUsuario.asmx" />
    <add key="FBits_SyncUsuarioEndereco" value="http://integracao.{0}.com.br/modelo007/SyncUsuarioEndereco.asmx" />
    <add key="FBits_SyncContaCorrente" value="http://integracao.{0}.com.br/modelo007/SyncContaCorrente.asmx" />
    <!-- Integração E-Commerce Magento -->
    <add key="MagentoStatusPedido_pendentepagamento" value="pending" />
    <!-- Opção de pesquisa de pedidos-->
    <add key="MagentoStatusPedido_pesquisa" value="processing" />
    <!-- Pedidos a ser importado para faturar no Winthor -->
    <add key="MagentoStatusPedido_importado" value="split" />
    <!-- Pedidos importados com sucesso e gerado no Winthor -->
    <add key="MagentoStatusPagamentoAguardando" value="pending_payment" />
    <!-- Pedidos importados com sucesso e aguardando o pagamento -->
    <add key="MagentoStatusPagamentoAprovado"   value="pending" />
    <!-- Pedidos pagamento aprovado -->
    <add key="MagentoStatusPagamentoRejeitado"  value="pending_payment" />
    <!-- Pedidos pagamento reprovado -->
    <add key="MagentoGrupoAtributo" value="Vinhos" />
    <add key="Magento001_Username" value="erp" />
    <add key="Magento001_Password" value="ejluishaurjItCinnokOimjaijIn" />
    <add key="Magento001_Url" value="https://ingavinhos.shoppmy.com.br/index.php/api/v2_soap/index/" />
    <add key="Magento002_Username" value="integrador" />
    <add key="Magento002_Password" value="123456" />
    <add key="Magento002_Url" value="https://redemachado.com.br/index.php/api/v2_soap/index/"/>
    <!-- Integração ERP Ajuri-->
    <add key="AjuriURL_Transferencia" value="http://ajuri.homologacao.am.gov.br/index.php/ws_transferencias" />
    <add key="AjuriURL_Entradas" value="http://ajuri.homologacao.am.gov.br/index.php/ws_entradas" />
    <add key="AjuriURL_Pedidos" value="http://ajuri.homologacao.am.gov.br/index.php/ws_pedidos"/>
    <!-- Integração Shoppub -->
    <add key="Shoppub_URL" value="http://homologerp.shoppub.com.br" />
    <add key="Shoppub_Token" value="9e641ff6776d1370e20fa5595dfa9b6a3acd123a" />
    <!-- Integração ERP Corpem-->
    <add key="Corpem_URL" value="http://localhost:1824/ServiceTrafego.svc" />
    <!-- Integração E-Commerce ZoOmBox-->
    <add key="ZoOmBox_URLVendas" value="http://ws.club.gsgroup.com.br/ws.asmx" />
    <add key="ZoOmBox_URLFilial" value="http://189.50.141.77:1004/ws.asmx" />
    <add key="ZoOmBox_URLGerenciaVenda" value="http://201.49.82.8:8181/IntegradorGS-WS/GerenciaVendaWS" />
    <!-- Integração E-Commerce Virtuemart-->
    <add key="Virtuemart_URL" value="http://homologacao.{0}.com.brindex.php/api/v2_soap/index/?SID=7mg5re7g6ltgkcmq2hqlo0lr10" />
    <add key="Virtuemart_Username" value="integracao" />
    <add key="Virtuemart_Password" value="agroshop" />
    <!-- Integração E-Commerce Tray-->
    <add key="Tray_ConsumerKey" value="8a308343dd88646ee8640f7d592dcdd1ad8e6e75b4effa8d7b51da915902af8c" />
    <add key="Tray_ConsumerSecret" value="29aeef13e5be99773d8472078a5ff48a12e97c5eb2345c43a0139a43e045a76e" />
    <add key="Tray_URL" value="https://tekdistribuidor-448593.commercesuite.com.br/web_api" />
    <add key="Tray_Code" value="fedaa66f87b85530d7c4576288ec16880fb70c4e3519ef812cd42dcce0b02c29" />
    <!--Loja homologação
    <add key="Tray_URL" value="https://tekdistribuidor-491767.commercesuite.com.br/web_api" />
    <add key="Tray_Code" value="876e3815be2d3e1d249d2cad349f42f1e60dc3cedaef6d1cba2e0cc3883a2cf2" /> 
    -->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <!--<httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" />    -->
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
</configuration>