<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integradora.ECommerce.VTex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Integradora.ECommerce.VTex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Integradora.ECommerce.VTex.Properties.Settings>
            <setting name="Empresa" serializeAs="String">
                <value>friopecas</value>
            </setting>
            <setting name="UrlAPI" serializeAs="String">
                <value>http://friopecas.vtexcommercestable.com.br/api</value>
            </setting>
        </Integradora.ECommerce.VTex.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Integradora.ECommerce.VTex.Properties.Settings>
            <setting name="REST" serializeAs="String">
                <value>http://oms.vtexcommerce.com.br</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>integracao</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>friopecas</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>vtexappkey-friopeças-MWFCYV</value>
            </setting>
            <setting name="AppToken" serializeAs="String">
                <value>RYXTXXLKNURFHUIBHRGKDMCIGATIAPCOZICNQSPQVFTGSSEFPWEBEITEWOMXECKYSCFZSVKPBPPYTWPOVNTDKAKRPXQCFSMSVUOPMFMTLPZOTULAYYCRJGNRSOJVEIJJ</value>
            </setting>
            <setting name="WebService_Service" serializeAs="String">
                <value>http://webservice-friopecas.vtexcommerce.com.br/AdminWebService/Service.svc</value>
            </setting>
        </Integradora.ECommerce.VTex.Properties.Settings>
    </applicationSettings>
</configuration>