<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceTrafego" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1824/ServiceTrafego.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceTrafego"
        contract="SyncTrafegoCorpem.IServiceTrafego" name="BasicHttpBinding_IServiceTrafego" />
    </client>
  </system.serviceModel>
</configuration>